:root {
    --primary: #444444;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    background-color: #c80000;
    border-color:#c80000;
}

.special {
    left:70%;
}

.zoom {
    top: 50%;
    height: 1.5rem;
    opacity: .7;
}

.main-footer {
    background-color: #c80000;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}